<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta data-rh="true" charset="utf-8">
    <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
    <meta data-rh="true" name="theme-color" content="#000000">
    <meta data-rh="true" property="og:site_name" content="Lomads">
    <meta data-rh="true" property="og:type" content="article">
    <meta data-rh="true" name="title" content="<%= title %>">
    <meta data-rh="true" property="og:title" content="<%= title %>">
    <meta data-rh="true" name="description" content="<%= description %>">
    <meta data-rh="true" property="og:description" content="<%= description %>">
    <meta data-rh="true" property="og:url" content="<%= baseUrl %>">
    <!-- <meta data-rh="true" property="al:web:url" content="<%= baseUrl %>/share/banner.jpg">
    <meta data-rh="true" property="og:image" content="<%= baseUrl %>/share/banner.jpg"> -->
    <meta data-rh="true" name="robots" content="index,follow,max-image-preview:large">
    <meta data-rh="true" name="referrer" content="unsafe-url">
    <meta data-rh="true" property="twitter:title" content="<%= title %>">
    <meta data-rh="true" name="twitter:site" content="Lomads">
    <meta data-rh="true" property="twitter:description" content="<%= description %>">
    <!-- <meta data-rh="true" name="twitter:image:src" content="<%= baseUrl %>/share/banner.jpg"> -->
    <meta data-rh="true" name="twitter:card" content="summary_large_image">
    <meta data-rh="true" name="twitter:tile:template:testing" content="2">
    <!-- <meta data-rh="true" name="twitter:tile:image" content="<%= baseUrl %>/share/banner.jpg"> -->
    <meta data-rh="true" name="twitter:cta" content="Read on Lomads">
</head>
<body class="container">
   <script type="text/javascript" src="<%= script %>"></script>
</body>
</html>